<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% let numberTwoDigits=question.number.toLocaleString('pt-BR', {minimumIntegerDigits: 2}); %>
        <title>
            <%=test.code%> - Questão <%=numberTwoDigits%>
        </title>
        <script src="https://kit.fontawesome.com/06bc3dc745.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.8.0/bootstrap-tagsinput.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.6/jquery.typeahead.min.css"
            integrity="sha256-CU0/rbxVB3Eixd3bbIuJxHJLDnXriJS9cwp/BfcgpLw=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.bubble.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body> 
    <header class="main-title mb-3 pt-5 pb-2">
        <div class="container">
            <span class="badge badge-success">
                <%=test.code%>
            </span>
            <h3>Questão <%=numberTwoDigits%>
            </h3>
        </div>
    </header>
    <div class="container pb-3">
        <form id="form" action="/provas/<%=test.code%>/<%=numberTwoDigits%>?_method=PUT" method="POST">
            <table class="table table-bordered" id="question">
                <thead class="table-secondary small text-uppercase">
                    <tr class="text-center q-table-head">
                        <th style="position: relative">
                            Tempo
                            <a data-toggle="modal" data-target="#modalChronometer"
                                class="btn btn-sm btn-primary stopwatch-badge">
                                <i class="fas fa-clock"></i>
                            </a>
                        </th>
                        <th>Dificuldade</th>
                        <th>Item do Programa</th>
                        <th>Alternativa</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td contenteditable="true" class="time values" id="time">00:00</td>
                        <td class="diffLevel">
                            <select class="custom-select" id="diffLevel" name="question[diffLevel]">
                                <option disabled selected></option>
                                <option>MF</option>
                                <option>F</option>
                                <option>M</option>
                                <option>D</option>
                                <option>MD</option>
                            </select>
                        </td>
                        <td class="subject">
                            <!-- <select multiple id="subject" data-role="tagsinput"></select> -->
                            <input type="text" id="subject">
                        </td>
                        <td class="answer">
                            <select class="custom-select" id="answer" name="question[answer]">
                                <option disabled selected></option>
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                                <option>D</option>
                                <option>E</option>
                            </select>
                        </td>
                        <td class="number font-weight-bold">
                            <%=numberTwoDigits%>
                        </td>
                    </tr>
                </tbody>
                <thead class="table-secondary small">
                    <tr>
                        <th colspan="5">Resolução</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5" class="solution" id="solutionEditor"></td>
                    </tr>
                </tbody>
                <thead class="table-secondary small">
                    <tr>
                        <th colspan="5">Análise</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5" class="analysis" id="analysisEditor"></td>
                    </tr>
                </tbody>
            </table>
            <input type="text" name="question[time]" id="timeInput" hidden>
            <select multiple name="question[subject]" id="subjectInput" hidden></select>
            <input type="text" name="question[solution]" id="solutionInput" hidden>
            <input type="text" name="question[analysis]" id="analysisInput" hidden>

        </form>
    </div>

    <div class="footer">
        <div class="container d-flex" style="height: 100%; align-items: center">
            <div class="flex-grow-1">
                <a href="javascript:history.back()" class="btn btn-secondary"><i class="fas fa-backward"></i>
                Voltar</a>
            </div>
    
            <div class="flex-shrink-1 align-right">
                <button class="btn btn-primary float-right" type="submit" form="form"><i class="fas fa-check"></i>
                    Salvar</button>
            </div>
        </div>
    </div>

    <%- include ('partials/chronometer') %>
        <div class="hideall"></div>

        <!-- SCRIPTS -->
        <script>
            // Store subject list from EJS into a var
            let subjectList = <%- JSON.stringify(test.subjects) %>;
            // Store question object from EJS into a var
            let question = <%- JSON.stringify(question) %>;
        </script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"
            integrity="sha256-tQ3x4V2JW+L0ew/P3v2xzL46XDjEWUExFkCDY0Rflqc=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.min.js"
            integrity="sha256-VCsWOz+0GuHdS/sIICtQNTFJdbaDI80rxvoB7BXabrU=" crossorigin="anonymous"></script>
        <script src="/scripts/lib/easytimer.min.js"></script>
        <script src="/scripts/chronometer.js"></script>
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <script src="/scripts/script.js"></script>
        <script src="/scripts/typeahead-init.js"></script>
        <script>
            $(document).ready(() => {
                $('.hideall').fadeOut('fast');
                $('.tt-input').attr('size', 1)
            })
        </script>
</body>

</html>