<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%=test.code%>: Estatísticas
    </title>
    <script src="https://kit.fontawesome.com/06bc3dc745.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
    <header class="main-title mb-3 pt-5">
        <div class="container">
            <div>
                <span class="badge badge-success">
                    <%=test.code%>
                </span>
                <h2>
                    Estatísticas
                </h2>
            </div>
            <span class="text-muted">
                <%=test.level%>
            </span>
            <span class="text-muted ml-3">
                <%=test.numQuestions%> questões
            </span>
            <span class="text-muted ml-3">
                <a href="#subjects" class="text-reset" data-toggle="collapse" aria-expanded="false"
                    aria-controls="collapseExample">Conteúdo programático</a>
            </span>
            <span class="text-muted ml-3">
                <% if (!test.assessment.firstImpression) { %>
                    <a href="#" data-toggle="modal" data-target="#modalAssessment"
                        class="text-reset hover-edit-icon">Avaliação final</a>
                    <% } else { %>
                        <a href="#assessment" class="text-reset" data-toggle="collapse" aria-expanded="false"
                            aria-controls="collapseExample">Avaliação final</a>
                        <% } %>
            </span>

            <div class="collapse my-3 pt-3" id="subjects" style="border-top: 1px solid #f4f4f4;">
                <small>
                    <strong>Conteúdo Programático</strong>
                    <% test.subjects.forEach((subject)=> { %>
                        <li>
                            <%=subject%>
                        </li>
                        <% }); %>
                </small>
            </div>
            <%- include ('partials/assessment')%>
        </div>
    </header>

    <div class="container">
        
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>